<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to the Infi Azure Lucene sample app</h1>
            </hgroup>
            <form action="@Url.Action("Search")" method="GET">
                <input name="query"/>
            </form>
        </div>
    </section>
  
</div>
