<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Infi.LuceneArticle.GutenbergImport.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Infi.LuceneArticle.LuceneUpdateQueue.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Infi.LuceneArticle.MyAzureDirectory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="brief" value="${longdate} | ${level} | ${logger} | ${message}"/>
    <variable name="verbose" value="${longdate} | ${machinename} | ${processid} | ${processname} | ${level} | ${logger} | ${message}"/>
    <targets>
      <target name="debugger" xsi:type="Debugger" layout="${verbose}"/>
      <target name="console" xsi:type="ColoredConsole" layout="${brief}" />
    </targets>
    <rules>
      <logger name="*" minLevel="Trace" writeTo="debugger" />
    </rules>
  </nlog>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Infi.LuceneArticle.GutenbergImport.Console.Properties.Settings>
      <setting name="GutenbergLibraryDirectory" serializeAs="String">
        <value>C:\Temp\www.gutenberg.lib.md.us</value>
      </setting>
    </Infi.LuceneArticle.GutenbergImport.Console.Properties.Settings>
    <Infi.LuceneArticle.LuceneUpdateQueue.Properties.Settings>
      <setting name="AzureServiceBusQueueName" serializeAs="String">
        <value>luceneupdatequeue</value>
      </setting>
      <setting name="AzureServiceBusQueueConnectionString" serializeAs="String">
        <value>TODO - FILL ME</value>
      </setting>
      <setting name="AzureObjectStoreBlobConnectionString" serializeAs="String">
        <value>TODO - FILL ME</value>
      </setting>
      <setting name="AzureObjectStoreBlobContainer" serializeAs="String">
        <value>blobs</value>
      </setting>
    </Infi.LuceneArticle.LuceneUpdateQueue.Properties.Settings>
    <Infi.LuceneArticle.MyAzureDirectory.Properties.Settings>
      <setting name="AzureDirectoryCatalog" serializeAs="String">
        <value>article</value>
      </setting>
      <setting name="AzureDirectoryConnectionString" serializeAs="String">
        <value>TODO - FILL ME</value>
      </setting>
    </Infi.LuceneArticle.MyAzureDirectory.Properties.Settings>
  </applicationSettings>
</configuration>