<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Infi.LuceneArticle.LuceneUpdateQueue.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Infi.LuceneArticle.LuceneUpdateQueue.Properties.Settings>
            <setting name="AzureStorageQueueName" serializeAs="String">
                <value>luceneupdatequeue</value>
            </setting>
            <setting name="AzureStorageQueueConnectionString" serializeAs="String">
                <value>&lt;FILL ME, OR UPDATE .CONFIG FROM RUNNING PROJECT&gt;</value>
            </setting>
            <setting name="AzureServiceBusQueueName" serializeAs="String">
                <value>luceneupdatequeue</value>
            </setting>
            <setting name="AzureServiceBusQueueConnectionString" serializeAs="String">
                <value>&lt;FILL ME, OR UPDATE .CONFIG FROM RUNNING PROJECT&gt;</value>
            </setting>
            <setting name="AzureObjectStoreBlobConnectionString" serializeAs="String">
                <value>&lt;FILL ME, OR UPDATE .CONFIG FROM RUNNING PROJECT&gt;</value>
            </setting>
            <setting name="AzureObjectStoreBlobContainer" serializeAs="String">
                <value>blobs</value>
            </setting>
        </Infi.LuceneArticle.LuceneUpdateQueue.Properties.Settings>
    </applicationSettings>
</configuration>