<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Infi.LuceneArticle.MyAzureDirectory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Infi.LuceneArticle.MyAzureDirectory.Properties.Settings>
      <setting name="AzureDirectoryConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="AzureDirectoryCatalog" serializeAs="String">
        <value>article</value>
      </setting>
    </Infi.LuceneArticle.MyAzureDirectory.Properties.Settings>
  </applicationSettings>
</configuration>