<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Infi.LuceneArticle.Indexer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Indi.LuceneArticle.Indexer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Infi.LuceneArticle.Indexer.Properties.Settings>
            <setting name="LuceneUpdateQueueBatchLimit" serializeAs="String">
                <value>32</value>
            </setting>
        </Infi.LuceneArticle.Indexer.Properties.Settings>
        <Indi.LuceneArticle.Indexer.Properties.Settings>
            <setting name="LuceneUpdateQueueBatchLimit" serializeAs="String">
                <value>32</value>
            </setting>
        </Indi.LuceneArticle.Indexer.Properties.Settings>
    </applicationSettings>
</configuration>